* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-size: cover;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2rem;
  align-items: center;
}
.list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  list-style: none;
  color: #F4BE2C;
 
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero{
  padding: auto;
  text-align: center;
}

h1.hero-heading{
  color: #F4BE2C;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.button-small{
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  background-color: #E03B8B;
  color: white;
  margin-left: 18rem;
  right: 5rem;
  cursor: pointer;
}
.button-large{
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  background-color: #E03B8B;
  cursor: pointer;
  color: white;
}

.bottom{
  position: absolute;
  right: 5rem;
}

.bottom img{
  width: 150px;
}